.inventory_table {
  padding-top: 4rem;
}

.inventory_rows {
  height: 45rem;
  overflow-y: auto;
}

.table_head_seperator {
  display: flex;
  justify-content: center;
  border-bottom: 0.1rem;
  border-bottom-style: solid;
  border-color: rgb(197, 185, 185);
  padding-top: 1rem;
  margin-left: 10%;
  margin-right: 10%;
}
