.pendingTrade {
    display: flex;
}

.box {
    width: 25%;
}

.image{
    width: 100%;
}

.buyerSeller{
    text-align: left;
}

.buyer{
    color: red;
}

.seller{
    color:green;
}

.pending {
    color: orange;
}

.completed {
    color: green;
}

.loading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal .modal-content {
    color: transparent;
    background-color: transparent;
}