.pendingTrade {
    display: flex;
}

.box {
    width: 25%;
}

.image{
    width: 100%;
}

.buyerSeller{
    text-align: left;
}

.buyer{
    color: red;
}

.seller{
    color:green;
}

.pending {
    color: orange;
}

.completed {
    color: green;
}