.show_image {
  height: auto;
  width: 1rem;
}

.test {
  background-color: aquamarine;
}

.table_row_container {
  padding-top: 1rem;
  background-color: white;
}
.table_row_container_hover {
  padding-top: 1rem;
  background-color: rgb(215, 216, 216);
  cursor: pointer;
}

.date,
.serial_number,
.locaton {
  text-align: center;
}
.location {
  padding-left: 7rem;
}

.serial_number {
  padding-left: 3rem;
}

.seperator {
  border-bottom: 0.1rem;
  border-bottom-style: solid;
  border-color: rgb(197, 185, 185);
  align-items: center;
  padding-top: 1rem;
}
